* {
    box-sizing: border-box;
    margin: 0;
}

.controls {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #062c56;
}

.controls input {
    width: 260px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.controls input:focus {
    border: 1px solid gold;
}

.controls button {
    width: 180px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    margin-right: 10px;
    background-color: #3884ff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.balance {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balanceSpan {
    color: #5c6975;
    margin-right: 20px;
}

.history {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.history th {
    font-size: 20px;
    padding: 10px 0;
    width: 290px;
    font-size: 13px;
    background-color: #ebeef2;
    border: 1px solid #666;
}

.history td {
    border: 1px solid #666;
    padding: 10px 0;
}